# Ignore everything in the root except the "wp-content" directory.
/*
!readme.md
!.gitignore
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in the "mu-plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/mu-plugins/*
#!wp-content/mu-plugins/theme-functions/
#!wp-content/mu-plugins/cpt-core/
#!wp-content/mu-plugins/taxonomy-core/

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
!wp-content/plugins/core-functionality/

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
wp-content/themes/*
!wp-content/themes/firewell/

# Ignore other annoying files
**/.DS_Store
**/.sass-cache/**
**/.codekit-cache/**
**/config.codekit
**/dwsync.xml
