$green: #82BC00;
$grey: #dadadb;
$medium-grey: #717271; // sub menu font


$paragraph-font-color: #514a42;
$paragraph-font-family: 'serif';
$paragraph-font-weight: 400;
$paragraph-font-size: 17px;
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: 21px;


// We use these to style anchors
$link-color: #514a42 !default;
$link-color-visited: #514a42 !default;
$link-color-hover: #82BC00 !default;