/* CSS Document */

/* hide post nav on specific archives */
.load-more-posts .posts-navigation {
	display: none; 
}

.load-more {
	display: block;
	margin: 0 1em 1em 0;
    
    border-radius: 3px;
    background-color: #D83B20;
}

.load-more-link, .load-more-indicator {
	padding: 0.5em 1em;
    color: #fff;
    font-weight: bold;
	text-align: center;
}

.load-more-link {
	display: block;	
}

.loading .load-more-link {
	display: none;
}

.load-more-indicator {
	display: none;	
}

.loading .load-more-indicator {
	display: block;
	text-align: center;	
}